@model Users.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">Welcome to DeliDoc</h1>
<div class="row">
    <div class="col-md-12">
    
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-md-6 d-inline lbl-field">Choose a document to share securely</div>
                <div class="col-md-6 d-inline"><input type="file" asp-for="MyDocument"/></div>
            </div>


            <div class="form-group" style="display:block">
                <div class="col-md-6 d-inline">Choose AADE account to send the document to</div>
                <div class="col-md-6 d-inline"><select asp-for="AadeUserId" asp-items="Model.AadeUsers"></select></div>
            </div>

            <div class="form-group" style="@(Model.ShowPasswordEntry ? "display:block" : "display:none")">
                <div class="col-md-12 d-inline">
                    <label asp-for="Password">
                        Because you have not shared a document before please create a password to digitally sign your documents. Keep a note of your password in a safe place.
                        Your digital signing password can be used to reproduce your digital signature in the future should it be necessary to confirm that you sent the document rather than an imposter
                    </label></div>

            </div>
            
            <div></div>


            <div class="form-group" style="@(Model.ShowPasswordEntry ? "display:block" : "display:none")">
                <div class="col-md-6 d-inline" style="width: 50%; float: left">
                    <label asp-for="Password" >
                    </label></div>
                <div class="col-md-6 d-inline">
                    <input asp-for="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group" style="@(Model.ShowPasswordEntry ? "display:block" : "display:none")">
                <div class="col-md-6 d-inline" style="width: 50%; float: left"><label asp-for="ConfirmPassword" ></label></div>
                <div class="col-md-6 d-inline">
                    <input asp-for="ConfirmPassword"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6"><input type="submit" value="Share Document" class="form-control"/></div>

            </div>
        </form>
    </div>

</div>
